<% 
   class_str='ad-hoc-option-select'
   class_str += ' has_exclusions' if !@product.ad_hoc_variant_exclusions.empty?
%>

  <label><%= option_type.presentation %></label>
    <% option_type.option_values.each do |ah_ov| %>

      <% 
        plus_or_minus=""
   
        if ah_ov.price_modifier>0
          plus_or_minus = t("add")
        elsif ah_ov.price_modifier<0
          plus_or_minus =t("subtract")
        end
      %>

      <label>
      <%= check_box_tag "ad_hoc_option_values[#{option_type.id}][]", ah_ov.id.to_s, false, :class => class_str %>
      <span class="variant-description"><%= "#{ah_ov.option_value.presentation}"%></span>
      <span class="price diff"><%= "(#{plus_or_minus} #{Spree::Money.new(ah_ov.price_modifier.abs).to_s})"%></span>
      </label>
    <% end %>
