<% product = @variant.product %>
<% if product.ad_hoc_option_types && !product.ad_hoc_option_types.empty? %>
  <div id="ad_hoc_options" style="overflow: auto;">
    <%= "<h4>*#{t(:not_all_combinations_available)}</h4>".html_safe if !product.ad_hoc_variant_exclusions.empty? %>

    <%= field_set_tag t(:select_variant_options) do %>
      <ol style="list-style: none;">
        <% product.ad_hoc_option_types.each do |ahot| %>
          <li>
          <% ot=ahot.option_type %>
          <% class_str='ad-hoc-option-select' %>
          <% class_str += ' required' if ahot.is_required %>
          <% class_str += ' ad_hoc' if !product.ad_hoc_variant_exclusions.empty? %>

            <label style="width:300px;"><%= ot.presentation %></label>
            <%= select_tag "ad_hoc_option_values[#{ahot.id}]",
              options_for_select(ad_hoc_option_value_options(ahot.option_values)),
             :include_blank => 'None', :class => class_str %>
          </li>
        <% end %>  <%# each %>
      </ol>
    <% end %> <%# field_set %>
  </div>
<% end %>
