<% @body_id = 'product-details' %>
<h1><%= t('Customize') %> <%= accurate_title %></h1>

<div id="product-images" data-hook="product_images">
  <div id="main-image">
    <%= render 'image' %>
  </div>
</div>

<div id="cart-form" data-hook="cart_form">
  <%= render 'cart_form' %>
</div>

