/*fieldset{
	background-color:#dddddd;

	border-width:1px;
	border-style:solid;
	border-color:#666;

	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	padding: 0px 10px 10px 10px;
}

fieldset ol {
  margin: 0;
  padding: 0;
}

fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}

fieldset label {
  display: inline-block;
  width: 120px;
}
#ad_hoc_options fieldset label {
}

fieldset legend{
	background-color:#2e6ab1;

	border-width:1px;
	border-style:solid;
	border-color:#666;

	color:#ddd;
	font-weight:bold;
	font-variant:small-caps;
	font-size:110%;

	padding:2px 5px;
	margin:0px 0px 10px 0px;
	position:relative;
	top: -12px;

}

.error {
  color: #d33;
}
*/
/* for customization images in the line items
we've got two versions line items: line_items & line-items
*/

/*tbody#line_items dd p img, tbody#line-items dd p img {
  float: none;
}
*/

#ad_hoc_options {
  margin-top: 20px;
  overflow: auto;
}
table#cart-detail dl {margin-left: 10px;}
table#cart-detail dt {font-weight: normal;}
table#cart-detail dl p {margin:0;}
