<% # need a drop-down for every ad_hoc_option_type %>

<% @product.ad_hoc_option_types.each do |ahot| %>

<p>
<label>Choose a value for option type:<%= label_tag ahot.option_type.presentation%></label>
  <%= select_tag "ad_hoc_option_type[#{ahot.id}", options_from_collection_for_select(ahot.ad_hoc_option_values, 'id', 'name'), {:include_blank => 'All Values'} %>
  <br/>
</p>
<% end %>
