<tr class="option_value fields"> <!-- TODO: need id -->
  <td class='name'><span> <%= f.object.inspect %> </span></td>
  <td class='presentation'><span> </span></td>
  <td class='price_modifier'><%= f.text_field :price_modifier %></td>
  <td class="actions"><%= link_to_remove_fields t("remove"), f %></td>
</tr>
