<% lookup=ActionView::LookupContext.new(ActionController::Base.view_paths, {:formats => [:html]}) %>

<%= "<h4>*#{t(:not_all_combinations_available)}</h4>".html_safe if !@product.ad_hoc_variant_exclusions.empty? %>

<% @product.ad_hoc_variant_option_types.each do |ahot|
  ot=ahot.option_type
  class_str='ad-hoc-option-select'
  class_str += ' required' if ahot.is_required
  class_str += ' ad_hoc' if !@product.ad_hoc_variant_exclusions.empty? %>
   <% # render a custom partial based on the option type name? %>

   <% if lookup.exists?("products/#{ot.name}",nil,true) %>
     <%= render :partial => ot.name, :locals => {:option_type=>ahot} %> 
   <% else %>
     <div>
       <%= label_tag ot.name %>
       <%= select_tag "ad_hoc_variant_option_values[#{ahot.id}]", 
             options_for_select(ad_hoc_option_value_options(ahot.option_values)), 
             :include_blank => 'None', :class => class_str %>
     </div>	 
   <% end %>
<% end %>

