<div id="product-customizations">

<% @product.customization_types.each do |customization_type| %>
   <% # = render :partial => customization_type.name, :locals => {:customization_type=>customization_type} %> 

   <h2><%=  customization_type.presentation %></h2>

   <% param_prefix = "customizations[#{customization_type.id}]" %>

  <% customization_type.customizable_product_options.each do |option| %>
    <%= label_tag option.presentation %>

    <% partial = option.partial %>

    <!-- hate to use exception as flow control, b/c the 'rescue' is likelier to occur than the custom partial.
         I used a File.exists? but didn't want to use Rails.root (as this is an extension. Alternative?  cwd? -->
    <% begin %>
      <%= render :partial => "products/custom_fields/#{partial}", :locals=>{:option => option, :param_prefix => param_prefix} %>
    <% rescue %>	
      <%= text_field_tag "#{param_prefix}[#{option.id}]" %>
    <% end %>	
  <% end %>

<% end %>

</div> <!-- product-customizationss -->
