<!-- TODO: if has customizations? -->

<div id="product-customizationss">

<% @product.customization_types.each do |customization_type| %>
   <% # = render :partial => customization_type.name, :locals => {:customization_type=>customization_type} %> 

   <h2><%=  customization_type.presentation %></h2>

  <% param_prefix = "customization_type[#{customization_type.id}]" %>
  
  <% customization_type.customizable_product_options.each do |option| %>
    <%= label_tag option.label %>
    <%= text_field_tag "#{param_prefix}[#{option.name}]" %>
  <% end %>

<% end %>

</div> <!-- product-customizationss -->
