
<%# not currently used.  see the comment in the override file %>
    <td class="actions"><%= link_to icon('add') + ' ' + t('configure_option_type'),
                            url_for(:controller => "admin/option_types",
                                    :id => ot.id,
                                    :product_id => @product.permalink,
                                    :action => "configure_dynamic",
                                    :option_type_id =>  ot.id),
                                    :remote => true,
                                    :class => 'iconlink' %>
    </td>

